.item-count {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
  align-items: center;
}

.contador {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contador button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contador button:hover {
  background-color: #535bf2;
}

.agregar-btn {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.agregar-btn:hover {
  background-color: #535bf2;
}

.agregar-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/*Mobile */
@media (max-width: 600px) {
  .item-count {
    width: 100%;
    align-items: center;
    margin-top: 1.5rem;
  }

  .contador {
    flex-direction: column;
    gap: 0.8rem;
  }

  .contador button {
    width: 80%;
    padding: 0.6rem;
    font-size: 1rem;
  }

  .agregar-btn {
    width: 90%;
    font-size: 1.1rem;
    padding: 0.8rem;
    background-color: #6c63ff;
  }
}